<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Body"},"style":{"spacing":{"padding":{"right":"var:preset|spacing|edge","left":"var:preset|spacing|edge","top":"var:preset|spacing|body-gap","bottom":"var:preset|spacing|body-gap"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--body-gap);padding-right:var(--wp--preset--spacing--edge);padding-bottom:var(--wp--preset--spacing--body-gap);padding-left:var(--wp--preset--spacing--edge)"><!-- wp:group {"metadata":{"name":"H1 + Desc [h2 + Desc]"},"align":"wide","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|block-gap"}}}} -->
<div class="wp-block-group alignwide" style="padding-bottom:var(--wp--preset--spacing--block-gap)"><!-- wp:heading {"level":1} -->
<h1 class="wp-block-heading"><strong>Blog »</strong> Cròniques Artístiques</h1>
<!-- /wp:heading -->

<!-- wp:group {"metadata":{"name":"firts-blog-page-content"},"align":"full","className":"firts-blog-page-content","layout":{"type":"default"}} -->
<div class="wp-block-group alignfull firts-blog-page-content"><!-- wp:shortcode -->
[txyz_first_blog_content]
<!-- /wp:shortcode --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:block {"ref":20246} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer-for-blog"} /-->