<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Body"},"style":{"spacing":{"padding":{"right":"var:preset|spacing|edge","left":"var:preset|spacing|edge","top":"var:preset|spacing|body-gap","bottom":"var:preset|spacing|body-gap"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--body-gap);padding-right:var(--wp--preset--spacing--edge);padding-bottom:var(--wp--preset--spacing--body-gap);padding-left:var(--wp--preset--spacing--edge)"><!-- wp:group {"metadata":{"name":"Content Header"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|70","padding":{"bottom":"var:preset|spacing|block-gap"}}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide" style="padding-bottom:var(--wp--preset--spacing--block-gap)"><!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:columns {"style":{"spacing":{"padding":{"bottom":"var:preset|spacing|70"}}}} -->
<div class="wp-block-columns" style="padding-bottom:var(--wp--preset--spacing--70)"><!-- wp:column {"verticalAlignment":"bottom","width":"75%"} -->
<div class="wp-block-column is-vertically-aligned-bottom" style="flex-basis:75%"><!-- wp:post-title {"textAlign":"left","level":1,"align":"wide","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"fontSize":"huge"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"0","bottom":"0"}}},"fontSize":"small","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide has-small-font-size" style="margin-top:0;margin-bottom:0;padding-top:0;padding-bottom:0"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"left":"0","right":"0","top":"var:preset|spacing|small","bottom":"var:preset|spacing|small"},"margin":{"top":"0","bottom":"0"},"blockGap":"var:preset|spacing|10"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
<div class="wp-block-group alignwide" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--small);padding-right:0;padding-bottom:var(--wp--preset--spacing--small);padding-left:0"><!-- wp:post-date {"textAlign":"left","format":"F j, Y","style":{"layout":{"selfStretch":"fit","flexSize":null}}} /-->

<!-- wp:paragraph -->
<p>by</p>
<!-- /wp:paragraph -->

<!-- wp:post-author {"showAvatar":false,"byline":""} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"25%","style":{"spacing":{"blockGap":"0px"}}} -->
<div class="wp-block-column" style="flex-basis:25%"><!-- wp:post-featured-image {"align":"wide"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"name":"Content + Relateds"},"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|70"}},"layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"75%"} -->
<div class="wp-block-column" style="flex-basis:75%"><!-- wp:post-content {"layout":{"type":"default"}} /-->

<!-- wp:group {"metadata":{"name":"Filters"},"style":{"spacing":{"padding":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<div class="wp-block-group" style="padding-top:0;padding-bottom:0"><!-- wp:post-terms {"term":"category","prefix":"\u003cmark style=\u0022background-color:rgba(0, 0, 0, 0)\u0022 class=\u0022has-inline-color has-foreground-color\u0022\u003e■\u003c/mark\u003e  "} /-->

<!-- wp:post-terms {"term":"post_tag","prefix":"\u003cmark style=\u0022background-color:rgba(0, 0, 0, 0)\u0022 class=\u0022has-inline-color has-taxonomy-tags-txyz-color\u0022\u003e■\u003c/mark\u003e\u003cmark style=\u0022background-color:rgba(0, 0, 0, 0);color:#fbab8b\u0022 class=\u0022has-inline-color\u0022\u003e \u003c/mark\u003e"} /--></div>
<!-- /wp:group -->

<!-- wp:comments -->
<div class="wp-block-comments"><!-- wp:comments-title /-->

<!-- wp:comment-template -->
<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"40px"} -->
<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:comment-author-name {"fontSize":"small"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"fontSize":"small"} /-->

<!-- wp:comment-edit-link {"fontSize":"small"} /--></div>
<!-- /wp:group -->

<!-- wp:comment-content /-->

<!-- wp:comment-reply-link {"fontSize":"small"} /--></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:comment-template -->

<!-- wp:comments-pagination -->
<!-- wp:comments-pagination-previous /-->

<!-- wp:comments-pagination-numbers /-->

<!-- wp:comments-pagination-next /-->
<!-- /wp:comments-pagination -->

<!-- wp:post-comments-form /--></div>
<!-- /wp:comments --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"25%","metadata":{"name":"Dynamic Sidebar With Relateds"},"style":{"spacing":{"blockGap":"0px"}}} -->
<div class="wp-block-column" style="flex-basis:25%"><!-- wp:group {"lock":{"move":false,"remove":true},"metadata":{"name":"Blog Related By Category [DO NOT DELETE]"},"className":"blog-related-highly","layout":{"type":"default"}} -->
<div class="wp-block-group blog-related-highly"></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","layout":{"type":"default"}} -->
<div class="wp-block-group alignwide"><!-- wp:query-pagination {"align":"wide","className":"alignwide is-style-tove-vertical-separators","layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:post-navigation-link {"type":"previous","showTitle":true} /-->

<!-- wp:post-navigation-link {"showTitle":true} /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->